
body{
    background-color: hsl(212, 45%, 89%); 
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 20px;
    height: 300px;
    width: 300px;
}
/* .qr{
    border-radius: 20px;
    height: 400px;
    width: 400px;    
} */

.text{
    color: red;
}
.container{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    padding: 20px;
    background-color: white;
    width: auto;
    border-radius: 20px;
}
h1{
    font-family: 'Outfit',sans-serif;
    font-weight: 700;
    
}
p{
    font-family: 'Outfit',sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

